<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.likelion.bebc25.sns.mapper.PostLikeMapper">
    <!-- 좋아요 등록 -->
    <insert id="insertLike">
        INSERT INTO post_like (member_id, post_id)
        VALUES (#{memberId}, #{postId})
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="deleteLike">
        DELETE FROM post_like
        WHERE member_id = #{memberId} AND post_id = #{postId};
    </delete>

    <!-- 좋아요 등록 여부 조회 -->
    <select id="countLike">
        SELECT COUNT(*)
        FROM post_like
        WHERE member_id = #{memberId} AND post_id = #{postId};
    </select>

    <!-- 게시글 like_count 1 증가 -->
    <update id="increaseLikeCount">
        UPDATE post
        SET like_count = like_count + 1
        WHERE id = #{postId}
    </update>

    <!-- 게시글 like_count 1 감소 -->
    <update id="decreaseLikeCount">
        UPDATE post
        SET like_count = GREATEST(like_count - 1, 0)
        WHERE id = #{postId}
    </update>
    
</mapper>
